@model Country

@{
    ViewData["Title"] = "Update Country Page";
}
@if (TempData["warning"] != null)
{
    <div class="alert alert-danger">@TempData["warning"]</div>
}

<h2>Add Country <a asp-action="Index" class="btn btn-sm btn-secondary">Back to Home</a></h2>
<form asp-action="UpdateCountry" method="post">
    <input type="hidden" asp-for="CountryId" />
    <div class="form-group">
        <label asp-for="CountryName">Country Name:</label>
        <input class="form-control" type="text" asp-for="CountryName" />
    </div>

    <div class="form-group">
        <label asp-for="CurrencyCode">Currency Code:</label>
        <input class="form-control" type="text" asp-for="CurrencyCode" />
    </div>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>